* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F1F1;
  font-family: raleway_f, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-light.woff);
  font-weight: 300;
}
:root {
  --index: calc(1vw + 1vh);
  --transition: transform .75s cubic-bezier(0.75, .5, 0, 1);
}

.divider {
  height: 3px;
  width: 60px;
  background-color: #FFA501;
  margin: 20px auto;
}
.divider_mini {
  margin: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 45px;
  background-color: #FFA501;
  border: none;
  text-align: center;
}
.btn:hover {
  box-shadow: 0 0 15px #9e7d35;
  background-color: #f19e04;
}
.btn_bg {
  background: none;
}
.btn_bg:hover {
  box-shadow: none;
  background: none;
}

.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;
}
.sidepanel__divider {
  width: 2px;
  height: 70px;
  background-color: #000;
}
.sidepanel__text {
  color: #000;
  height: 150px;
  width: 25px;
}
.sidepanel__text span {
  transform: rotate(-90deg) translate(-30%, -330%);
  display: block;
  width: 150px;
}
.sidepanel__link {
  rotate: 270deg;
}
.sidepanel__link svg {
  transition: 0.5s all;
  fill: #000;
  font-size: 20px;
}
.sidepanel__link svg:hover {
  fill: #FFA501;
}

@media (max-width: 1200px) {
  .sidepanel {
    left: 25px;
  }
}
@media (max-width: 992px) {
  .sidepanel {
    display: none;
  }
}
.title {
  color: #000;
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
}
.title_fz20 {
  font-size: 20px;
}
.title_fz16 {
  font-size: 16px;
  line-height: 24px;
}
.title_fz14 {
  font-size: 14px;
  line-height: 21px;
}

.subtitle {
  font-weight: 700;
  z-index: 100;
  position: relative;
  color: #000;
  text-align: center;
}
.subtitle:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
}
.subtitle:before {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

:root {
  --index: calc(1vw + 1vh);
  --transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);
}

.main-header {
  position: relative;
}

.main-header::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url(../img/main/ground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.5);
}

.layers {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}

.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
  color: #e7e7e0;
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.5;
  text-shadow: 0 0 15px #9e7d35;
  transition: var(--transition);
}

.layers__title {
  font-size: calc(var(--index) * 2.1);
  letter-spacing: calc(var(--index) / 2.9);
}

.layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) * 0.4);
  margin-top: calc(var(--index) * -5);
}

.main-article {
  --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  position: relative;
  color: #e7e7e0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.content {
  will-change: transform;
}

.main__title {
  width: 100%;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: calc(var(--index) / 7.5);
  transform: var(--main-article-transform);
  will-change: transform;
  transition: var(--transition);
  text-align: left;
  text-shadow: 0 0 15px #9e7d35;
  font-weight: 900;
}
.main__subtitle {
  padding-left: 10px;
  color: #fff;
  transform: var(--main-article-transform);
  margin-top: calc(var(--index) / 1.25);
  will-change: transform;
  transition: var(--transition);
  text-align: left;
  text-shadow: 0 0 15px #9e7d35;
  font-weight: 700;
}
.main__subtitle:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
}
.main__btns {
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
}
.main__link {
  transform: translate3d(0, calc(var(--scrollTop) / -10), 0);
  font-size: 14px;
  text-decoration: none;
  font-weight: 900;
  color: #000;
}
.main__link:nth-child(2) {
  color: white;
}
.main__link:hover {
  text-shadow: 0 0 15px #9e7d35;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .main__title {
    font-size: 46px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .main__title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .main__title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .main__subtitle {
    font-size: 16px;
  }
  .main__title {
    font-size: 24px;
    line-height: 37px;
  }
  .main-article {
    min-height: 100vh;
  }
}
.hamburger {
  position: fixed;
  top: 20px;
  right: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  z-index: 10;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #FFA501;
  opacity: 0.6;
}
.hamburger span.long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
  opacity: 1;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: relative;
  width: 345px;
  height: 100%;
  background-color: #FFA501;
  padding: 140px 0 0 40px;
  transition: 0.5s all;
  z-index: 10;
}
.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}
.menu__link {
  position: relative;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
}
.menu__link:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -35px;
  top: 10px;
  border-radius: 100%;
  border: 1px solid #000;
  transition: all 0.6s;
}
.menu__link:hover:before {
  background-color: #fff;
}
.menu__link a {
  color: #fff;
  text-decoration: none;
}
.menu__social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.menu__social svg {
  font-size: 20px;
}
.menu__social a {
  text-decoration: none;
  margin-right: 15px;
}
.menu__social a:last-child {
  margin-right: 0;
}
.menu__social a:hover {
  fill: red;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .menu__block {
    width: 200px;
    padding-left: 10px;
  }
  .menu__link a {
    font-size: 18px;
  }
}
.about {
  position: relative;
  padding: 120px 0 60px 0;
}
.about__wrapper {
  display: grid;
  grid-template-columns: 400px minmax(450px, auto);
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.about__photo {
  background: url("../img/about/about_photo.PNG") center center/cover no-repeat;
  width: 400px;
  height: 400px;
  border: 2px solid #FFA501;
  border-radius: 100%;
}
.about__subtitle {
  position: relative;
  color: #000;
  padding: 2px 0 0 12px;
  font-weight: 700;
  line-height: 24px;
}
.about__subtitle:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
}
.about__title {
  margin-top: 6px;
}
.about__text {
  color: #000;
  margin-top: 20px;
  line-height: 24px;
}
.about__skills {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 25px;
}
.about__skills-item {
  display: flex;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.about__skills-icon {
  position: relative;
}
.about__skills-icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
}
.about__skills-icon:before {
  top: -15px;
  left: -15px;
}
.about__skills-title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 13px;
}
.about__skills-text {
  color: #000;
  margin-top: 16px;
  line-height: 18px;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .about__skills {
    -moz-column-gap: 30px;
         column-gap: 30px;
    grid-template-columns: repeat(auto-fit, 220px);
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .about__title {
    font-size: 24px;
  }
  .about__wrapper {
    grid-template-columns: repeat(2, 350px);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .about__photo {
    width: 350px;
    height: 350px;
  }
  .about__skills {
    -moz-column-gap: 15px;
         column-gap: 15px;
    grid-template-columns: repeat(auto-fit, 150px);
  }
  .about__skills-item {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .about__skills-text {
    font-size: 10px;
  }
  .about__text {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .about {
    padding-top: 60px;
  }
  .about__wrapper {
    justify-content: center;
    grid-template-columns: 450px;
  }
  .about__photo {
    width: 450px;
    height: 450px;
  }
  .about__skills {
    grid-template-columns: repeat(auto-fit, 200px);
  }
  .about__skills-text {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .about {
    padding-top: 40px;
  }
  .about__title {
    font-size: 20px;
  }
  .about__wrapper {
    justify-content: center;
    grid-template-columns: 280px;
  }
  .about__photo {
    width: 280px;
    height: 280px;
  }
  .about__skills {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
  }
  .about__skills-text {
    font-size: 12px;
  }
}
.resume {
  padding: 60px 0 60px 0;
}
.resume__title {
  text-align: center;
}
.resume__wrapper {
  padding: 60px 65px 0 65px;
  display: grid;
  grid-template-columns: repeat(2, 425px);
  -moz-column-gap: 135px;
       column-gap: 135px;
}
.resume__column-title {
  padding-left: 35px;
  position: relative;
}
.resume__column-title:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FFA501;
  border-radius: 100%;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
}
.resume__column ul {
  list-style-type: none;
}
.resume__column ul li {
  position: relative;
}
.resume__column ul li:after {
  content: "";
  width: 1px;
  height: calc(100% + 16px);
  position: absolute;
  top: -16px;
  left: 0;
  background-color: #000;
}
.resume__item {
  position: relative;
}
.resume__item:before {
  content: "";
  height: 1px;
  width: 45px;
  position: absolute;
  top: 68px;
  background-color: #000;
}
.resume__item-head {
  position: relative;
  padding: 45px 0 0 100px;
}
.resume__item-title {
  margin-bottom: 0;
}
.resume__item-text {
  color: #000;
  padding-left: 43px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 18px;
}
.resume__item-icon {
  position: absolute;
  top: 50px;
  left: 45px;
}
.resume__item-icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
}
.resume__item-icon:before {
  z-index: 0;
}
.resume__item-icon img {
  position: absolute;
  left: 17px;
  top: 14px;
}
.resume__item-location {
  color: #000;
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .resume__wrapper {
    padding: 40px 65px 0 65px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .resume__title {
    font-size: 24px;
  }
  .resume__wrapper {
    grid-template-columns: 425px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .resume__title {
    font-size: 20px;
  }
  .resume__wrapper {
    grid-template-columns: 293px;
    justify-content: center;
  }
}
.skills {
  padding: 60px 0 60px 0;
}
.skills__title {
  text-align: center;
}
.skills__wrapper {
  display: grid;
  margin-top: 35px;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-auto-rows: 270px;
  -moz-column-gap: 13px;
       column-gap: 13px;
  row-gap: 13px;
}
.skills__item {
  width: 270px;
  height: 270px;
  border: 1px solid #000;
  padding: 30px;
}
.skills__item-title {
  color: #000;
  margin-top: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 900;
}
.skills__item-descr {
  color: #000;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}
.skills__ratings {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-template-rows: repeat(2, minmax(70px, auto));
  -moz-column-gap: 45px;
       column-gap: 45px;
  row-gap: 35px;
}
.skills__ratings-item {
  display: grid;
  grid-template-columns: 200px 35px;
  grid-template-rows: minmax(21px, auto) 14px;
  justify-content: space-between;
  align-content: space-between;
}
.skills__ratings-counter {
  color: #000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.skills__ratings-title {
  position: relative;
  padding: 2px 0 0 13px;
}
.skills__ratings-title:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
}
.skills__ratings-line {
  width: 350px;
  height: 14px;
  background-color: #E8E4DE;
  border-radius: 4px;
  grid-column: 1/3;
}
.skills__ratings-line span {
  display: block;
  height: 100%;
  background-color: #FFA501;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .skills__wrapper {
    justify-content: center;
  }
  .skills__ratings {
    justify-content: center;
    grid-template-rows: repeat(3, minmax(70px, auto));
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .skills__title {
    font-size: 24px;
  }
  .skills__ratings {
    grid-auto-rows: 70px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .skills__title {
    font-size: 20px;
  }
  .skills__ratings {
    grid-template-columns: repeat(auto-fit, 290px);
  }
  .skills__ratings-line {
    width: 290px;
  }
}
.active-portf {
  left: 0;
}

.portfolio {
  padding: 23px 0 23px 0;
  width: 100%;
  min-height: 1500px;
}
.portfolio__title {
  text-align: center;
  margin-top: 7px;
}
.portfolio__wrapper {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio__item {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio__link {
  color: #000;
  text-decoration: none;
  margin-top: 30px;
  font-weight: 700;
  transition: 0.6s all;
}
.portfolio__link:hover {
  color: #FFA501;
}
.portfolio__block {
  width: 930px;
  height: 500px;
  border: 2px solid #FFA501;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: 0.9s all;
}
.portfolio__block:hover .portfolio__block-descr {
  opacity: 1;
}
.portfolio__block-descr {
  color: #fff;
  font-size: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 930px;
  height: 500px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 15px;
  cursor: pointer;
}
.portfolio__img {
  display: block;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .portfolio__block {
    width: 800px;
    height: 450px;
  }
  .portfolio__block-descr {
    width: 800px;
    height: 450px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .portfolio__block {
    width: 700px;
    height: 400px;
  }
  .portfolio__block-descr {
    width: 700px;
    height: 400px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .portfolio__block {
    width: 500px;
    height: 300px;
  }
  .portfolio__block-descr {
    width: 500px;
    height: 300px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .portfolio__block {
    width: 300px;
    height: 200px;
  }
  .portfolio__block-descr {
    font-size: 16px !important;
    width: 300px;
    height: 200px;
    font-size: 20px;
  }
}
.price {
  padding: 60px 0 0px 0;
}
.price__wrapper {
  display: grid;
  grid-template: repeat(3, minmax(45px, auto))/repeat(2, 365px);
  grid-auto-rows: minmax(45px, auto);
  row-gap: 15px;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 50px;
}
.price__item {
  padding-left: 25px;
  position: relative;
  display: grid;
  grid-template: repeat(2, minmax(21px, auto))/repeat(2, auto);
  row-gap: 5px;
}
.price__item:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFA501;
  border-radius: 100%;
  position: absolute;
  top: 5px;
}
.price__descr {
  grid-column: 1/3;
  font-size: 12px;
  line-height: 18px;
}
.price__count {
  justify-self: end;
}
.price__name, .price__count {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .price__wrapper {
    justify-content: center;
    grid-template: repeat(3, minmax(45px, auto))/repeat(2, 340px);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .price__wrapper {
    grid-template-columns: 400px;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .price__wrapper {
    grid-template-columns: 275px;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 20px;
  }
}
.contacts {
  padding: 60px 0 60px 0;
}
.contacts__wrapper {
  padding: 0 52px;
  display: grid;
  grid-template-columns: 400px 585px;
  justify-content: space-between;
}
.contacts__item {
  padding-top: 6px;
}
.contacts__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.contacts__text {
  margin-top: 20px;
}
.contacts__social {
  margin-top: 20px;
}
.contacts__link {
  text-decoration: none;
  margin-right: 25px;
}
.contacts__link svg {
  font-size: 30px;
  transition: 0.7s all;
}
.contacts__link svg:hover {
  fill: #FFA501;
}
.contacts__subtitle {
  position: relative;
  color: #000;
  padding: 2px 0 0 12px;
  font-weight: 700;
}
.contacts__subtitle:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -25%;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #FFA501;
}
.contacts__form {
  margin-top: 30px;
  display: grid;
  grid-template: 45px 190px 45px/repeat(2, 280px);
  justify-content: space-between;
  row-gap: 27px;
}
.contacts__form label {
  display: block;
  position: absolute;
  top: -15px;
  left: 12px;
  height: 18px;
  padding: 0 8px;
  font-size: 12px;
  margin-bottom: 0;
}
.contacts__triggers {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, auto);
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.contacts__policy {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
}
.contacts__policy input {
  margin-right: 10px;
}
.contacts__input {
  position: relative;
}
.contacts__input input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
}
.contacts__textarea {
  position: relative;
  grid-column: 1/3;
}
.contacts__textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 20px;
  font-size: 12px;
}
.contacts__btn {
  width: 219px;
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .contacts__wrapper {
    grid-template-columns: 400px 400px;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .contacts__form {
    display: flex;
    flex-direction: column;
  }
  .contacts__input {
    height: 40px;
  }
  .contacts__textarea {
    height: 100px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .contacts__title {
    font-size: 24px;
  }
  .contacts__wrapper {
    grid-template-columns: 350px 350px;
  }
  .contacts__input {
    width: 300px;
  }
  .contacts__textarea {
    width: 300px;
  }
  .contacts__triggers {
    grid-template-columns: auto;
  }
  .contacts__policy {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .contacts__photo {
    display: none;
  }
  .contacts__wrapper {
    justify-content: center;
    grid-template-columns: 400px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .contacts__wrapper {
    justify-content: center;
    grid-template-columns: 300px;
  }
}/*# sourceMappingURL=style.css.map */