*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #010101;
	font-family: raleway_f, sans-serif;
}

@import 'libs/fonts';

@import 'base/variables';


@import 'blocks/main';