.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 45px;
    background-color: #FFA501;
    border: none;
    text-align: center;
    &:hover {
        box-shadow: 0 0 15px #9e7d35;
        background-color: #f19e04 ;
    }
    &_bg {
        background: none;
        &:hover {
            box-shadow: none;
            background: none;
        }
    }
}