:root {
    --index: calc(1vw + 1vh);
    --transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);
}


.main-header {
    position: relative;
}
.main-header::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/main/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}
.layers {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}
.layers__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}
.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
    color: $header-color;
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.5;
    text-shadow: 0 0 15px #9e7d35;
    transition: var(--transition);
}
.layers__title {
    font-size: calc(var(--index) * 2.1);
    letter-spacing: calc(var(--index) / 2.9);
}
.layers__caption {
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) * 0.4);
    margin-top: calc(var(--index) * -5);
}


.main-article {
    --main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    position: relative;
    color: $header-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


.content {
    will-change: transform;
}


.main {
    &__title {
        width: 100%;
        margin-top: 15px;
        color: #fff;
        text-transform: uppercase;
        font-size: 48px;
        letter-spacing: calc(var(--index) / 7.5);
        transform: var(--main-article-transform);
        will-change: transform;
        transition: var(--transition);
        text-align: left;
        text-shadow: 0 0 15px #9e7d35;
        font-weight: 900;
        
    }
    &__subtitle {
        padding-left: 10px;
        color: #fff;
        transform: var(--main-article-transform);
        margin-top: calc(var(--index) / 1.25);
        will-change: transform;
        transition: var(--transition);
        text-align: left;
        text-shadow: 0 0 15px #9e7d35;
        font-weight: 700;
        @include before_circle;
    }
    &__btns {
        margin: 0;
        display: flex;
        text-align: center;
        align-items: center;
    }
    &__link {
        transform: translate3d(0, calc(var(--scrollTop) / -10), 0);
        font-size: 14px;
        text-decoration: none;
        font-weight: 900;
        color: #000;
        &:nth-child(2){
            color: #ffff;
        }
        &:hover {
            text-shadow: 0 0 15px #9e7d35;
        }
    }
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    // .layers__base {
    //     transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
    //     z-index: 0;
    // }
    // .layers__middle {
    //     transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
    // }
    // .layers__front {
    //     transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
    // }
    // .layer__header {
    //     transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
    // }
    .main {
        &__title {
            font-size: 46px;
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .main {
        &__title {
            font-size: 40px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .main {
        &__title {
            font-size: 36px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .main {
        &__subtitle {
            font-size: 16px;
        }
        &__title {
            font-size: 24px;
            line-height: 37px;
        }
    }
    .main-article {
        min-height: 100vh;
    }
}